bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.FundingSouq.Assessment/.idea/workspace.xml
*.vsidx
/.vs/FundingSouq.Assessment/v17/DocumentLayout.json
/.containers/fundingsouq.assessment.database/data

-- ignore .idea files and directories
.idea/
.idea/*
!.idea/.gitignore
!.idea/.name
!.idea/.vcs.xml
!.idea/vcs.xml
!.idea/workspace.xml
!.idea/tasks.xml
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
!.idea/scopes
!.idea/scopes/*
!.idea/externalLibraries
!.idea/externalLibraries/*
!.idea/modules.xml
!.idea/modules
!.idea/modules/*
!.idea/misc.xml
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/fileTemplates
!.idea/fileTemplates/*
!.idea/filetypes
!.idea/filetypes/*
!.idea/encodings.xml
!.idea/ant.xml
!.idea/gradle.xml
